{% extends "auctions/layout.html" %}

{% block body %}
    <h1><strong>{{ listing.title | upper }}</strong></h1>
                <div>
                    <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
                    <ul>
                        <li>Posted by user: <strong>{{ listing.owner }}</strong></li>
                        <li>Description: {{ listing.description }}</li>
                        <li>Category: {{ listing.category}}</li>
                        <li>Starting bid: {{ listing.starting_bid }}</li>

                        {% if not listing.is_open %}
                        <li>Winning bid: {{ listing.current_bid }}</li>
                        <li>Winner: {% if listing.highest_bidder == request.user %} YOU! {{ listing.highest_bidder.username }}{% else %} {{ listing.highest_bidder.username }}{% endif %}</li>
                    {% else %}
                        {% if listing.current_bid == 0 %}
                            <li>Current bid: No bids yet</li>
                        {% else %}
                            <li>Current bid: {{ listing.current_bid }}</li>
                            <li>
                                <form action="{% url 'place_bid' listing.id %}"method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input type="submit">
                                </form>
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li class="{{ message.tags }}">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}
                        
                        <li>Status: {% if listing.is_open %}Open{% else%}Closed{% endif %}</li>
                        {% if request.user == listing.owner %}
                        <form action="{% url 'close_listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Close This Listing</button>
                        </form>
                        {% endif %}
                    </ul>

                    <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">{% if listing not in user.watchlist.all %}Add to watchlist{% else %}Remove from watchlist{% endif %}</button>
                    </form>

                    <div id="comments"></div>
                    <form action="{% url 'add_comment' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="submit" value="Add Comment">
                    </form>
                    <h3>Comments:</h3>
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <p>by <strong>{{ comment.author.username }}</strong></p>
                                <p> {{ comment.body }} </p>
                                <span class="text-muted">({{ comment.timestamp|date:"Y-m-d H:i" }})</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

{% endblock %}